# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Node / React Native
node_modules/
.expo/
dist/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.override.yml

# Custom
DBA_PuntoDeVenta/
backend/uploads/
